<div class="container mt-5">
  <!-- Shorten URL Form -->
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="mb-4 url-topic-text">URL Shortener</h2>
      <form [formGroup]="urlForm" class="row">
        <div class="col-8">
          <div class="form-group">
            <label for="longUrl">Enter URL:</label>
            <input
              type="text"
              id="longUrl"
              class="form-control"
              formControlName="longUrl"
              placeholder="https://www.example.com/blog/i-did-something-cool"
            />
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-custom btn-block btn-container" [disabled]="urlForm.invalid" (click)="shortenUrl()">
            Shorten URL
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Shortened URL Display -->
  <div class="row justify-content-center">
    <div *ngIf="shortenedUrl" class="col-md-12 mt-3">
      <p class="url-topic-text">Shortened URL:</p>
      <a [href]="shortenedUrlLink" target="_blank" class="interactive-link">{{ shortenedUrl }}</a>
    </div>
  </div>

  <br>

  <!-- Expand URL Form -->
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="mb-4 url-topic-text">Expand URL</h2>
      <form [formGroup]="expandUrlForm" class="row">
        <div class="col-8">
          <div class="form-group">
            <label for="shortUrl">Enter URL:</label>
            <input
              type="text"
              id="shortUrl"
              class="form-control"
              formControlName="shortUrl"
              placeholder="http://localhost:8080/bd673c"
            />
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-custom btn-block btn-container" [disabled]="expandUrlForm.invalid" (click)="expandUrl()">
            Expand URL
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Expanded URL Display -->
  <div class="row justify-content-center">
    <div *ngIf="expandedUrl" class="col-md-12 mt-3">
      <p class="url-topic-text">Expanded URL:</p>
      <a [href]="expandedUrl" target="_blank" class="interactive-link">{{ expandedUrl }}</a>
    </div>
  </div>
</div>
